.place__website{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
width: 484px;
}

@media screen and (max-width: 1024px){
.place__website{
    width: 456px;
}
}

@media screen and (max-width: 768px){
.place__website{
    width: 352px;
}
}

@media screen and (max-width: 375px){
 .place__website{
     display: none;
 }
 }