.comments__container-comment-author{
    margin: 0;
    margin-top: 24px;
    max-width: 382px;
font-weight: 900;
font-size: 14px;
line-height: 24px;
}

@media screen and (max-width: 768px){
    .comments__container-comment-author{
        margin-top: 16px;
        order: 1;
    }
}