.intro__title{
    margin: 0;
    max-width: 683px;
    font-weight: bold;
    font-size: 54px;
    line-height: 59px;
}

@media screen and (max-width: 375px){
    .intro__title{
        font-size: 32px;
line-height: 35px;
    }
}